<div class="Party_Management">
	<h1><a href="/parties">Reservations</a></h1>
	<h1><a href="/parties/new">New Reservation</a></h1>
</div>

<div class="Order_Management">
	<h1><a href="">Create Order</a></h1>
	<h1><a href="">Edit Existing Order</a></h1>
	<h1><a href="">Check-out</a></h1>
</div>

<div class="Back_Office">
	<h1><a href="/foods">Inventory Managment</a></h1>
	<h1><a href="">Manage Tables</a></h1>
	<h1><a href="">Staff Log</a></h1>
</div>
