<nav>
	<h1 class="title">Login</h1>
</nav>

<nav>
	<ul>
		<li><a href="/sessions/new">Login</a></li>
		<li><a href="/users/new">Create Account</a></li>
		<!-- No one with any dignity would tap into this app. It isn't even hosted on the web. So yes, you can create an account. -->
	</ul>
</nav>

