<nav>
	<h1 class="title">Order</h1>
</nav>

<div class="newform">
	<form action="/orders/<%=@order.id%>" method="post">
		<input type="hidden", name="_method", value="patch"/>
		Party Name<input type="text" name="order[party]"/>	
		Item:<input type="text" name="order[food]"/>
		<input type="submit" value="Submit"/>
	</form>
</div>