<h1>New Order</h1>
<form action="/orders" method="post">
	<input type="hidden", name="_method", value="patch"/>
	Party Name<input type="text" name="party" value="<%= order.party %>"/>	
	Item:<input type="text" name="food" value="<%= order.food %>"/>
	<input type="submit" value="Submit"/>
</form>