<h1>Orders</h1>

<table>
	<th>Order ID</th>
	<th>Food</th>
	<th>Party</th>
	<% orders.each do |order| %>
	<td><a href"/order/#{order.id}"><%= order.id %></a></td>
	<td><a href"/order/#{order.id}"><%= order.food %></a></td>
	<td><a href"/order/#{order.id}"><%= order.party %></a></td>
</table>
