<nav>
	<h1 class="title">Login</h1>
</nav>
<br>
<div class="newform">
	<form action="/sessions" method="post">
		<input type="text" name="username" placeholder='username'>
		<input type="password" name="password" placeholder='password'>
		<input type="submit" value="Log-In">
	</form>
 </div>